*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lora, serif;
    font-size: 23px;  
}

#cabecalho{
    height: 75px;
    background-color: rgb(137, 164, 135);
    width: 97%;
    margin: 0;
    text-align: center;
    font-size: 70px;
    font-family:'Times New Roman';
    padding: 50px;
    border: 2px solid rgb(98, 166, 111);
    margin: 1px;
    
}

#menu{
    height: 500px;
    width: 335px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 0px;
    margin-top: 6px;
    text-align:center;
}

#conteudo{
    height: 500px;
    width: 800px;
    background-color:  rgb(149, 193, 159);
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 5%;
}

#lado{
    height: 500px;
    width: 350px;
    background-color:  rgb(255, 255, 255);
    float:left;
    margin-left: 5px;
    margin-top: 6px;
    margin-block-end: 5px;
    text-align: center;
}

img{
    height: 500px;
    width: 800px;
}

#rodape{
    height: 580px;
    /*width: 300px;*/
    background-color: rgb(173, 224, 172);
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2%;
}


h1{
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 46px;  
}
button {
    background-color: #082e20; /* Green */
    border-radius: 8px;;
    color: rgb(190, 191, 190);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #305d4d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #0b2515;
  }
  
button:active {
    background-color: #213922;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
img {
    border-radius: 20px;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}